//Initialization
@import '~normalize.css/normalize.css';
//Based
@import './base/colors.scss';
@import './base/configuration.scss';
@import './base/fonts.scss';

//Libraries
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';

//Pages


//Shared
@import '../styles/apps/admin/shell.scss';

//Libs
